<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zlc.season.rxdownload4.manager">

    <application>
        <service
            android:name=".notification.NotificationActionService"
            android:exported="false" />
    </application>

</manifest>