<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zlc.season.rxdownload3">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <service android:name=".core.DownloadService" />

        <provider
            android:name=".helper.RxDownloadFileProvider"
            android:authorities="${applicationId}.rxdownload.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".extension.ApkInstallExtension$ApkInstallActivity" />
    </application>
</manifest>
