<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zlc.season.rxdownloadproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".download_manager.DownloadManagerActivity"
            android:label="@string/title_activity_download_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic_download.BasicDownloadActivity"
            android:label="@string/title_activity_basic_download"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".service_download.ServiceDownloadActivity"
            android:label="@string/title_activity_service_download"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".download_manager.AppMarketActivity"
            android:label="@string/title_activity_app_market"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".multi_mission.MultiMissionDownloadActivity"
            android:label="@string/title_activity_multi_mission_download"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>